<!-- BEGIN #slider -->
<div id="slider" class="section-container p-0 bg-image-phone" *ngIf="(items | async)?.length > 0">
    <!-- BEGIN carousel -->
    <div id="main-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        </ol>
        <!-- BEGIN carousel-inner -->
        <div class="carousel-inner"> 
            <!-- BEGIN item -->
            <div [class]="i == 0 ? 'item active' : 'item'" *ngFor="let item of items | async | slice: 0:5; let i = index ">
                <!-- <img src="assets/img/apple-cover.jpg" class="bg-cover-img" alt="" /> -->
                <!-- <div class="container">
                    <img src="assets/img/slider-1-product.png" class="product-img right bottom fadeInRight animated" alt="" />
                </div> -->
                <div class="carousel-caption carousel-caption-left">
                    <div class="container" style="text-align: center">
                        <img src="{{ item.cover }}" *ngIf="item.cover != ''" class="product-img fadeInDownBig animated" alt="" />
                        <br/>
                        <br/>
                        <br/>
                        <!-- <h3 class="title m-b-5 fadeInDownBig animated">iMac</h3>  -->
                        <p class="m-b-15 fadeInUpBig animated"><a href="#">{{ item.topic }}</a></p>
                        <!-- <div class="price m-b-30 fadeInDownBig animated"><small>from</small> <span>$649.00</span></div> -->
                        <!-- <a href="#" class="btn btn-outline btn-lg fadeInDownBig animated">Buy Now</a> -->
                    </div>
                </div>
            </div>
            <!-- END item -->
        </div>
        <!-- END carousel-inner -->
        <a class="left carousel-control" href="#main-carousel" data-slide="prev"> 
            <i class="fa fa-angle-left"></i> 
        </a>
        <a class="right carousel-control" href="#main-carousel" data-slide="next"> 
            <i class="fa fa-angle-right"></i> 
        </a>
    </div>
    <!-- END carousel -->
</div>
<!-- END #slider -->