.footer-copyright {
    background: url('assets/img/bg-pattern.png'), linear-gradient(#F48FB1, #E57373);
    background-position: bottom;
}
.text-footer {
    color: #333111;
    text-align: center;
    font-size: 18px;
}