<app-navbar></app-navbar>
<!-- BEGIN #trending-items -->
<div id="trending-items" class="section-container bg-white">
  <!-- BEGIN container -->
  <div class="container">
    <p>
      {{ topic }} <br/>
      {{ date_post }}<br/>
    </p>
    <div class="multi_lines_text">{{ content }}</div>
      <div class="flex-item">
        <a class="btn btn-info" id="previous" *ngIf="isPrevious" (click)="goPrevious()">Previous</a>
        <a class="btn btn-info" id="next" *ngIf="isPrevious"(click)="goNext()">Next</a>
      </div>
  </div>
</div>