<app-header></app-header>
<!-- BEGIN #trending-items -->
<div id="trending-items" class="section-container bg-white">
  <!-- BEGIN container -->
  <div class="container">
    <!-- BEGIN section-title -->
    <h4 class="section-title clearfix">
      News
      <small>ข่าวล่าสุด</small>
    </h4>
    <!-- END section-title -->
    <!-- BEGIN news item -->
    <div class="row row-space-10">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>วันที่</th>            
            <th>ข่าว / ประกาศ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>17/02/2018</td>
            <td>
              <p class="news-title">
                <a href="#">แอสเตอร์เที่ยงวันเอ็นทรานซ์ หลวงตาเชอร์รี่เซอร์วิสสะบึม คอร์รัปชั่นเชอร์รี่ไหร่กลาสทอร์นาโด</a>
              </p>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>17/02/2018</td>
            <td>
              <p class="news-title">
                <a href="#">แอสเตอร์เที่ยงวันเอ็นทรานซ์ หลวงตาเชอร์รี่เซอร์วิสสะบึม คอร์รัปชั่นเชอร์รี่ไหร่กลาสทอร์นาโด</a>
              </p>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>17/02/2018</td>
            <td>
              <p class="news-title">
                <a href="#">แอสเตอร์เที่ยงวันเอ็นทรานซ์ หลวงตาเชอร์รี่เซอร์วิสสะบึม คอร์รัปชั่นเชอร์รี่ไหร่กลาสทอร์นาโด</a>
              </p>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>17/02/2018</td>
            <td>
              <p class="news-title">
                <a href="#">แอสเตอร์เที่ยงวันเอ็นทรานซ์ หลวงตาเชอร์รี่เซอร์วิสสะบึม คอร์รัปชั่นเชอร์รี่ไหร่กลาสทอร์นาโด</a>
              </p>
            </td>
          </tr>
          <tr>
            <td>5</td>
            <td>17/02/2018</td>
            <td>
              <p class="news-title">
                <a href="#">แอสเตอร์เที่ยงวันเอ็นทรานซ์ หลวงตาเชอร์รี่เซอร์วิสสะบึม คอร์รัปชั่นเชอร์รี่ไหร่กลาสทอร์นาโด</a>
              </p>
            </td>
          </tr>
          <tr>
            <td>6</td>
            <td>17/02/2018</td>
            <td>
              <p class="news-title">
                <a href="#">แอสเตอร์เที่ยงวันเอ็นทรานซ์ หลวงตาเชอร์รี่เซอร์วิสสะบึม คอร์รัปชั่นเชอร์รี่ไหร่กลาสทอร์นาโด</a>
              </p>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>17/02/2018</td>
            <td>
              <p class="news-title">
                <a href="#">แอสเตอร์เที่ยงวันเอ็นทรานซ์ หลวงตาเชอร์รี่เซอร์วิสสะบึม คอร์รัปชั่นเชอร์รี่ไหร่กลาสทอร์นาโด</a>
              </p>
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>17/02/2018</td>
            <td>
              <p class="news-title">
                <a href="#">แอสเตอร์เที่ยงวันเอ็นทรานซ์ หลวงตาเชอร์รี่เซอร์วิสสะบึม คอร์รัปชั่นเชอร์รี่ไหร่กลาสทอร์นาโด</a>
              </p>
            </td>
          </tr>
          <tr>
            <td>9</td>
            <td>17/02/2018</td>
            <td>
              <p class="news-title">
                <a href="#">แอสเตอร์เที่ยงวันเอ็นทรานซ์ หลวงตาเชอร์รี่เซอร์วิสสะบึม คอร์รัปชั่นเชอร์รี่ไหร่กลาสทอร์นาโด</a>
              </p>
            </td>
          </tr>
          <tr>
            <td>10</td>
            <td>17/02/2018</td>
            <td>
              <p class="news-title">
                <a href="#">แอสเตอร์เที่ยงวันเอ็นทรานซ์ หลวงตาเชอร์รี่เซอร์วิสสะบึม คอร์รัปชั่นเชอร์รี่ไหร่กลาสทอร์นาโด</a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <h4 class="news-title">
                <a href="#">แอสเตอร์เที่ยงวันเอ็นทรานซ์ หลวงตาเชอร์รี่เซอร์วิสสะบึม คอร์รัปชั่นเชอร์รี่ไหร่กลาสทอร์นาโด</a>
            </h4> -->
    </div>
    <!-- END news item -->
    <a href="#" class="btn btn-inverse pull-right">
      <i class="fas fa-plus"></i> More</a>
  </div>
  <!-- END container -->
</div>
<!-- END #trending-items -->