<app-navbar></app-navbar>
<app-header [items]="items"></app-header>

<!-- BEGIN #trending-items -->
<div id="trending-items" class="section-container bg-white">
  <!-- BEGIN container -->
  <div class="container">
    <!-- BEGIN news item -->
    <div class="row row-space-10">
      <table class="table table-striped">
        <thead>
          <tr>
            <!-- <th>#</th> -->
            <!-- <th>วันที่</th> -->
            <th>ข่าวและประกาศ</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="(items | async)?.length <= 0">
            <td colspan="100%" style="text-align: center;">ไม่พบข้อมูล</td>
          </tr>
          <tr *ngFor="let item of items | async | slice: 0:limit; let i = index ">
            <!-- <td>{{ i+1 }}</td> -->
            <!-- <td>{{ item.date }}</td> -->
            <td>
              <p class="news-title">
                <a routerLink="/show-news/{{ item.id_news }}">{{ item.topic }}</a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <h4 class="news-title">
                <a href="#">แอสเตอร์เที่ยงวันเอ็นทรานซ์ หลวงตาเชอร์รี่เซอร์วิสสะบึม คอร์รัปชั่นเชอร์รี่ไหร่กลาสทอร์นาโด</a>
            </h4> -->
    </div>
    <!-- END news item -->
    <a href="javascript:;" class="btn btn-inverse pull-right" id="more" (click)="more()" *ngIf="(items | async)?.length >= limit">
      <i class="fas fa-plus"></i> More</a>
  </div>
  <!-- END container -->
</div>
<!-- END #trending-items -->