<app-header></app-header>
<!-- BEGIN #trending-items -->
<div id="trending-items" class="section-container bg-white">
  <!-- BEGIN container -->
  <div class="container">
    <!-- BEGIN section-title -->
    <h4 class="section-title clearfix">
      News
      <small>ข่าวล่าสุด</small>
    </h4>
    <!-- END section-title -->
    <!-- BEGIN news item -->
    <div class="row row-space-10">
      <table class="table table-striped">
        <thead>
          <tr>
            <!-- <th>#</th>
            <th>วันที่</th>             -->
            <th>ข่าว / ประกาศ</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items | async | slice: 0:limit; let i = index ">
            <!-- <td>{{ i+1 }}</td>
            <td>{{ item.date }}</td> -->
            <td>
              <p class="news-title">
                <a href="#">{{ item.topic }}</a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <h4 class="news-title">
                <a href="#">แอสเตอร์เที่ยงวันเอ็นทรานซ์ หลวงตาเชอร์รี่เซอร์วิสสะบึม คอร์รัปชั่นเชอร์รี่ไหร่กลาสทอร์นาโด</a>
            </h4> -->
    </div>
    <!-- END news item -->
    <a href="javascript:;" class="btn btn-inverse pull-right" (click)="more()" *ngIf="(items | async)?.length >= limit">
      <i class="fas fa-plus"></i> More</a>
  </div>
  <!-- END container -->
</div>
<!-- END #trending-items -->