.error {
    margin: 0 auto;
    text-align: center;
}
.error-code {
    bottom: 60%;
    color: #222;
    font-size: 96px;
    line-height: 100px;
}
.error-code, .error-content {
    position: absolute;
    left: 0;
    right: 0;
}
.error-content {
    top: 40%;
    bottom: 0;
    padding-top: 15px;
    background: #222;
}
.error-message {
    color: #fff;
    font-size: 24px;
}
.error-desc {
    color: #999;
}