<app-navbar></app-navbar>
<!-- BEGIN #trending-items -->
<div id="trending-items" class="section-container bg-white">
  <!-- BEGIN container -->
  <div class="container">
    <h2>{{ topic }}</h2>
    <p>
      {{ username }} : {{ date }}
      <br/>
    </p>
    <div class="multi_lines_text" [innerHTML]="content"></div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>
          Comment
        </h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <textarea class="form-control" rows="5" id="comment" placeholder="Leave a message..." style="font-size:20px;" maxlength="250"></textarea>
        </div>
        <!-- <span>{{ length }}/250</span> -->
        <div class="row">
          <button type="button" (click)="submit()" class="btn btn-success pull-right">Comment</button>
        </div>
        <hr/>
        <div id="div-comment">
          <div class="col-md-12" style="word-wrap: break-word;" *ngFor="let item of items | async">
            <div class="text-comment">
              {{ item.message }}
            </div>
            <div class="row">
              <span class="pull-right">โดย<strong>{{ item.username }}</strong> เมื่อวันที่ {{ item.date }}</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>