<!-- BEGIN #header -->
<div id="header" class="header">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN header-container -->
        <div class="header-container">
            <!-- BEGIN navbar-header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- END navbar-header -->
            <!-- BEGIN header-nav -->
            <div class="header-nav">
                <div class=" collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav">
                        <li class="dropdown dropdown-hover">
                            <a routerLink="/" data-toggle="dropdown">
                                Home
                                <i class="fa fa-angle-down"></i> 
                                <span class="arrow top"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a routerLink="/">News and Announcment</a></li>
                            </ul>
                        </li>
                        <li ><a href="javascript:;">Knowledge Resource</a></li>
                        <li ><a href="javascript:;">Events</a></li>
                        <li ><a routerLink="/addnews">About us</a></li>
                        <li class="dropdown dropdown-hover" *ngIf="isAdmin">
                            <a href="javascript:;" data-toggle="dropdown">
                                Manage News 
                                <i class="fa fa-angle-down"></i> 
                                <span class="arrow top"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="product.html">Add News</a></li>
                                <li><a href="product.html">Edit News</a></li>
                                <li><a href="product.html">Delete News</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END header-nav -->
            <!-- BEGIN header-nav -->
            <!-- <div class="header-nav">
                <ul class="nav pull-right">
                    <li>
                        <a href="my_account.html">
                            <img src="assets/img/user-1.jpg" class="user-img" alt="" /> 
                            <span class="hidden-md hidden-sm hidden-xs">Administrator</span>
                        </a>
                    </li>
                </ul>
            </div> -->
            <!-- END header-nav -->
        </div>
        <!-- END header-container -->
    </div>
    <!-- END container -->
</div>
<!-- END #header -->