<!-- BEGIN #top-head -->
<div id="top-head" class="top-head">
    <!-- BEGIN container -->
    <div class="container">
        <div class="sign-box">
            <a routerLink="/"><img src="assets/img/logo.png" class="img-logo" /></a>
            <div class="sign-content">
                <div class="btn-group">
                    <a routerLink="/addnews" routerLinkActive="active" class="btn btn-inverse"><i class="fas fa-lock"></i> เข้าสู่ระบบ</a>
                    <a routerLink="/register" routerLinkActive="active" class="btn btn-theme"><i class="fas fa-user"></i> สมัครสมาชิก</a>
                </div>
            </div>
        </div>
    </div>
    <!-- END container -->
</div>
<!-- END #top-head -->