<!-- BEGIN #top-head -->
<div id="top-head" class="top-head">
    <!-- BEGIN container -->
    <div class="container">
        <img src="assets/img/logo.png" class="img-logo" />
        <div class="sign-box">
            <div class="sign-content">
                <div class="btn-group">
                    <button class="btn btn-primary">เข้าสู่ระบบ</button>
                    <button class="btn btn-success">สมัครสมาชิก</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END container -->
</div>
<!-- END #top-head -->