<!-- BEGIN #top-head -->
<div id="top-head" class="top-head">
    <!-- BEGIN container -->
    <div class="container">
        <div class="sign-box">
            <div class="div-logo">
                <span style="font-size:3em; color:black;">คนรักรถ</span>
                <a routerLink="/"><img src="assets/img/logo.png" class="img-logo"/></a>
            </div>
            <div class="sign-content">
                <div style="display: flex; flex-direction: column; justify-content: flex-end; align-items: stretch;">
                    <a routerLink="/addnews" routerLinkActive="active" id="btnLogin" style="color:white;" ><i class="fas fa-lock"></i> Sign in</a><br>
                    <a routerLink="/register" routerLinkActive="active" id="btnRegister" style="color:white;"><i class="fas fa-user"></i> Register</a>
                </div>
            </div>
        </div>
    </div>
    <!-- END container -->
</div>
<!-- END #top-head -->