.img-logo {
    height: 130px;
    float: left;
}
.top-head {
    background: url('assets/img/bg-pattern.png'), linear-gradient(#F48FB1, #E57373);
    height: 150px;
    padding-top: 8px;
}
.sign-box {
    position: relative;
    height: 120px;
    vertical-align: bottom;
}
.sign-content {
    position: absolute;
    bottom: 0;
    right: 0;
}