@font-face {
    font-family: 'Thai Sans Lite';
    src: url('../fonts/ThaiSansLite.eot');
    src: url('../fonts/ThaiSansLite.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ThaiSansLite.woff2') format('woff2'),
        url('../fonts/ThaiSansLite.woff') format('woff'),
        url('../fonts/ThaiSansLite.ttf') format('truetype'),
        url('../fonts/ThaiSansLite.svg#ThaiSansLite') format('svg');
    font-weight: normal;
    font-style: normal;
}
.note-editor .btn {
    font-size: 12px;
}
.bg-image-phone {
    background: url('../img/apple-cover.jpg');
    background-size: cover;
}
.img-logo {
    height: 130px;
    float: left;
}
.item {
    background-color: transparent;
}
.top-head {
    background: url('../img/bg-pattern.png'), linear-gradient(#F48FB1, #E57373);
    height: 150px;
    padding-top: 8px;
    border-bottom: 1px solid white;
}
.sign-box {
    position: relative;
    height: 120px;
    vertical-align: bottom;
}
.sign-content {
    position: absolute;
    bottom: 0;
    right: 0;
}
.footer-copyright {
    background: url('../img/bg-pattern.png'), linear-gradient(#F48FB1, #E57373);
    background-position: bottom;
}
.text-footer {
    color: #333111;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}
.thaisans {
    font-family: 'Thai Sans Lite';
}