<!-- BEGIN #tablet-list -->
<div id="tablet-list" class="section-container bg-silver p-t-0">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN section-title -->
        <h4 class="section-title clearfix">
            <a href="#" class="pull-right">Read More</a>
            News
            <small>ข่าวล่าสุด</small>
        </h4>
        <!-- END section-title -->
        <!-- BEGIN category-detail -->
        <div class="row row-space-10">
            <div class="col-md-2 col-sm-4">
                <div class="item item-thumbnail">
                    <a href="product_detail.html" class="item-image">
                        <img src="assets/img/iphone.png" alt="" />
                        <div class="discount">1</div>
                    </a>
                </div>
            </div>
            <div class="col-md-10 col-sm-8">
              <h4 class="news-title">สวัสดีไทยแลนด์ นี่คือหัวข้อข่าว</h4>
              <p>
                  Cras laoreet urna id dui malesuada gravida. 
                  Duis a lobortis dui.
              </p>
              <a href="#"><small>Read more...</small></a>
            </div>
        </div>
        <!-- END category-detail -->
        <hr/>
        <!-- BEGIN category-detail -->
        <div class="row row-space-10">
            <div class="col-md-2 col-sm-4">
                <div class="item item-thumbnail">
                    <a href="product_detail.html" class="item-image">
                        <img src="assets/img/iphone.png" alt="" />
                        <div class="discount">2</div>
                    </a>
                </div>
            </div>
            <div class="col-md-10 col-sm-8">
              <h4 class="news-title">สวัสดีไทยแลนด์ นี่คือหัวข้อข่าว</h4>
              <p>
                  Cras laoreet urna id dui malesuada gravida. 
                  Duis a lobortis dui.
              </p>
            </div>
        </div>
        <!-- END category-detail -->
    </div>
    <!-- END container -->
</div>
<!-- END #tablet-list -->