<app-header></app-header>
<!-- BEGIN #trending-items -->
<div id="trending-items" class="section-container bg-white">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN section-title -->
        <h4 class="section-title clearfix">
            News
            <small>ข่าวล่าสุด</small>
        </h4>
        <!-- END section-title -->
        <!-- BEGIN news item -->
        <div class="row row-space-10">
            <div class="col-md-2 col-sm-4">
                <div class="item item-thumbnail">
                    <a href="product_detail.html" class="item-image">
                        <img src="assets/img/hp-spectrex2.png" alt="" />
                        <div class="discount">1</div>
                    </a>
                </div>
            </div>
            <div class="col-md-10 col-sm-8">
                <h4 class="news-title">
                    <a href="#">แอสเตอร์เที่ยงวันเอ็นทรานซ์ หลวงตาเชอร์รี่เซอร์วิสสะบึม คอร์รัปชั่นเชอร์รี่ไหร่กลาสทอร์นาโด</a>
                </h4>
                <small class="help-block"><i class="far fa-clock"></i> 17/06/2018</small>
                <p>
                    เดชานุภาพวอลนัทมอยส์เจอไรเซอร์ป๊อปไคลแมกซ์ ซัพพลายเออร์ศากยบุตร ปิยมิตรว้าวโอเวอร์โอเพ่น คลิปฮีโร่โค้กอุตสาหการโบว์ เรซินมัฟฟินแซลมอนลีก
                    คอร์รัปชั่น คอนแท็คบูมโปสเตอร์ เจี๊ยวบิ๊กไคลแมกซ์รามาธิบดี ซานตาคลอสไบโอรีพอร์ท แซมบ้าครูเสดอันเดอร์
                    โปรดิวเซอร์ออสซี่ เกรย์สุริยยาตรเชอร์รี่เอสเปรสโซชินบัญชร สเต็ป ไวอะกร้าสเตย์ แฟรี่แฟนซีจิตพิสัยจังโก้โค้ก
                    ไอซียูรามาธิบดีมัฟฟินโบกี้อ่อนด้อย
                </p>
                <a href="#">
                    <small>Read more...</small>
                </a>
            </div>
        </div>
        <!-- END news item -->
        <hr/>
        <!-- BEGIN news item -->
        <div class="row row-space-10">
            <div class="col-md-2 col-sm-4">
                <div class="item item-thumbnail">
                    <a href="product_detail.html" class="item-image">
                        <img src="assets/img/iphone.png" alt="" />
                        <div class="discount">2</div>
                    </a>
                </div>
            </div>
            <div class="col-md-10 col-sm-8">
                <h4 class="news-title">
                    <a href="#">แอสเตอร์เที่ยงวันเอ็นทรานซ์ หลวงตาเชอร์รี่เซอร์วิสสะบึม คอร์รัปชั่นเชอร์รี่ไหร่กลาสทอร์นาโด</a>
                </h4>
                <small class="help-block"><i class="far fa-clock"></i> 17/06/2018</small>
                <p>
                    เดชานุภาพวอลนัทมอยส์เจอไรเซอร์ป๊อปไคลแมกซ์ ซัพพลายเออร์ศากยบุตร ปิยมิตรว้าวโอเวอร์โอเพ่น คลิปฮีโร่โค้กอุตสาหการโบว์ เรซินมัฟฟินแซลมอนลีก
                    คอร์รัปชั่น คอนแท็คบูมโปสเตอร์ เจี๊ยวบิ๊กไคลแมกซ์รามาธิบดี ซานตาคลอสไบโอรีพอร์ท แซมบ้าครูเสดอันเดอร์
                    โปรดิวเซอร์ออสซี่ เกรย์สุริยยาตรเชอร์รี่เอสเปรสโซชินบัญชร สเต็ป ไวอะกร้าสเตย์ แฟรี่แฟนซีจิตพิสัยจังโก้โค้ก
                    ไอซียูรามาธิบดีมัฟฟินโบกี้อ่อนด้อย
                </p>
                <a href="#">
                    <small>Read more...</small>
                </a>
            </div>
        </div>
        <!-- END news item -->
        <hr/>
        <!-- BEGIN news item -->
        <div class="row row-space-10">
            <div class="col-md-2 col-sm-4">
                <div class="item item-thumbnail">
                    <a href="product_detail.html" class="item-image">
                        <img src="assets/img/galaxy-s6.jpg" alt="" />
                        <div class="discount">3</div>
                    </a>
                </div>
            </div>
            <div class="col-md-10 col-sm-8">
                <h4 class="news-title">
                    <a href="#">แอสเตอร์เที่ยงวันเอ็นทรานซ์ หลวงตาเชอร์รี่เซอร์วิสสะบึม คอร์รัปชั่นเชอร์รี่ไหร่กลาสทอร์นาโด</a>
                </h4>
                <small class="help-block"><i class="far fa-clock"></i> 17/06/2018</small>
                <p>
                    เดชานุภาพวอลนัทมอยส์เจอไรเซอร์ป๊อปไคลแมกซ์ ซัพพลายเออร์ศากยบุตร ปิยมิตรว้าวโอเวอร์โอเพ่น คลิปฮีโร่โค้กอุตสาหการโบว์ เรซินมัฟฟินแซลมอนลีก
                    คอร์รัปชั่น คอนแท็คบูมโปสเตอร์ เจี๊ยวบิ๊กไคลแมกซ์รามาธิบดี ซานตาคลอสไบโอรีพอร์ท แซมบ้าครูเสดอันเดอร์
                    โปรดิวเซอร์ออสซี่ เกรย์สุริยยาตรเชอร์รี่เอสเปรสโซชินบัญชร สเต็ป ไวอะกร้าสเตย์ แฟรี่แฟนซีจิตพิสัยจังโก้โค้ก
                    ไอซียูรามาธิบดีมัฟฟินโบกี้อ่อนด้อย
                </p>
                <a href="#">
                    <small>Read more...</small>
                </a>
            </div>
        </div>
        <!-- END news item -->
        <hr/>
        <!-- BEGIN news item -->
        <div class="row row-space-10">
            <div class="col-md-2 col-sm-4">
                <div class="item item-thumbnail">
                    <a href="product_detail.html" class="item-image">
                        <img src="assets/img/xperia-z2.png" alt="" />
                        <div class="discount">4</div>
                    </a>
                </div>
            </div>
            <div class="col-md-10 col-sm-8">
                <h4 class="news-title">
                    <a href="#">แอสเตอร์เที่ยงวันเอ็นทรานซ์ หลวงตาเชอร์รี่เซอร์วิสสะบึม คอร์รัปชั่นเชอร์รี่ไหร่กลาสทอร์นาโด</a>
                </h4>
                <small class="help-block"><i class="far fa-clock"></i> 17/06/2018</small>
                <p>
                    เดชานุภาพวอลนัทมอยส์เจอไรเซอร์ป๊อปไคลแมกซ์ ซัพพลายเออร์ศากยบุตร ปิยมิตรว้าวโอเวอร์โอเพ่น คลิปฮีโร่โค้กอุตสาหการโบว์ เรซินมัฟฟินแซลมอนลีก
                    คอร์รัปชั่น คอนแท็คบูมโปสเตอร์ เจี๊ยวบิ๊กไคลแมกซ์รามาธิบดี ซานตาคลอสไบโอรีพอร์ท แซมบ้าครูเสดอันเดอร์
                    โปรดิวเซอร์ออสซี่ เกรย์สุริยยาตรเชอร์รี่เอสเปรสโซชินบัญชร สเต็ป ไวอะกร้าสเตย์ แฟรี่แฟนซีจิตพิสัยจังโก้โค้ก
                    ไอซียูรามาธิบดีมัฟฟินโบกี้อ่อนด้อย
                </p>
                <a href="#">
                    <small>Read more...</small>
                </a>
            </div>
        </div>
        <!-- END news item -->
        <hr/>
        <!-- BEGIN news item -->
        <div class="row row-space-10">
            <div class="col-md-2 col-sm-4">
                <div class="item item-thumbnail">
                    <a href="product_detail.html" class="item-image">
                        <img src="assets/img/xperia-z.png" alt="" />
                        <div class="discount">5</div>
                    </a>
                </div>
            </div>
            <div class="col-md-10 col-sm-8">
                <h4 class="news-title">
                    <a href="#">แอสเตอร์เที่ยงวันเอ็นทรานซ์ หลวงตาเชอร์รี่เซอร์วิสสะบึม คอร์รัปชั่นเชอร์รี่ไหร่กลาสทอร์นาโด</a>
                </h4>
                <small class="help-block"><i class="far fa-clock"></i> 17/06/2018</small>
                <p>
                    เดชานุภาพวอลนัทมอยส์เจอไรเซอร์ป๊อปไคลแมกซ์ ซัพพลายเออร์ศากยบุตร ปิยมิตรว้าวโอเวอร์โอเพ่น คลิปฮีโร่โค้กอุตสาหการโบว์ เรซินมัฟฟินแซลมอนลีก
                    คอร์รัปชั่น คอนแท็คบูมโปสเตอร์ เจี๊ยวบิ๊กไคลแมกซ์รามาธิบดี ซานตาคลอสไบโอรีพอร์ท แซมบ้าครูเสดอันเดอร์
                    โปรดิวเซอร์ออสซี่ เกรย์สุริยยาตรเชอร์รี่เอสเปรสโซชินบัญชร สเต็ป ไวอะกร้าสเตย์ แฟรี่แฟนซีจิตพิสัยจังโก้โค้ก
                    ไอซียูรามาธิบดีมัฟฟินโบกี้อ่อนด้อย
                </p>
                <a href="#">
                    <small>Read more...</small>
                </a>
            </div>
        </div>
        <!-- END news item -->
        <hr/>
        <!-- BEGIN news item -->
        <div class="row row-space-10">
            <div class="col-md-2 col-sm-4">
                <div class="item item-thumbnail">
                    <a href="product_detail.html" class="item-image">
                        <img src="assets/img/zenfone2.png" alt="" />
                        <div class="discount">6</div>
                    </a>
                </div>
            </div>
            <div class="col-md-10 col-sm-8">
                <h4 class="news-title">
                    <a href="#">แอสเตอร์เที่ยงวันเอ็นทรานซ์ หลวงตาเชอร์รี่เซอร์วิสสะบึม คอร์รัปชั่นเชอร์รี่ไหร่กลาสทอร์นาโด</a>
                </h4>
                <small class="help-block"><i class="far fa-clock"></i> 17/06/2018</small>
                <p>
                    เดชานุภาพวอลนัทมอยส์เจอไรเซอร์ป๊อปไคลแมกซ์ ซัพพลายเออร์ศากยบุตร ปิยมิตรว้าวโอเวอร์โอเพ่น คลิปฮีโร่โค้กอุตสาหการโบว์ เรซินมัฟฟินแซลมอนลีก
                    คอร์รัปชั่น คอนแท็คบูมโปสเตอร์ เจี๊ยวบิ๊กไคลแมกซ์รามาธิบดี ซานตาคลอสไบโอรีพอร์ท แซมบ้าครูเสดอันเดอร์
                    โปรดิวเซอร์ออสซี่ เกรย์สุริยยาตรเชอร์รี่เอสเปรสโซชินบัญชร สเต็ป ไวอะกร้าสเตย์ แฟรี่แฟนซีจิตพิสัยจังโก้โค้ก
                    ไอซียูรามาธิบดีมัฟฟินโบกี้อ่อนด้อย
                </p>
                <a href="#">
                    <small>Read more...</small>
                </a>
            </div>
        </div>
        <!-- END news item -->
        <hr/>
        <!-- BEGIN news item -->
        <div class="row row-space-10">
            <div class="col-md-2 col-sm-4">
                <div class="item item-thumbnail">
                    <a href="product_detail.html" class="item-image">
                        <img src="assets/img/samsung-note5.png" alt="" />
                        <div class="discount">7</div>
                    </a>
                </div>
            </div>
            <div class="col-md-10 col-sm-8">
                <h4 class="news-title">
                    <a href="#">แอสเตอร์เที่ยงวันเอ็นทรานซ์ หลวงตาเชอร์รี่เซอร์วิสสะบึม คอร์รัปชั่นเชอร์รี่ไหร่กลาสทอร์นาโด</a>
                </h4>
                <small class="help-block"><i class="far fa-clock"></i> 17/06/2018</small>
                <p>
                    เดชานุภาพวอลนัทมอยส์เจอไรเซอร์ป๊อปไคลแมกซ์ ซัพพลายเออร์ศากยบุตร ปิยมิตรว้าวโอเวอร์โอเพ่น คลิปฮีโร่โค้กอุตสาหการโบว์ เรซินมัฟฟินแซลมอนลีก
                    คอร์รัปชั่น คอนแท็คบูมโปสเตอร์ เจี๊ยวบิ๊กไคลแมกซ์รามาธิบดี ซานตาคลอสไบโอรีพอร์ท แซมบ้าครูเสดอันเดอร์
                    โปรดิวเซอร์ออสซี่ เกรย์สุริยยาตรเชอร์รี่เอสเปรสโซชินบัญชร สเต็ป ไวอะกร้าสเตย์ แฟรี่แฟนซีจิตพิสัยจังโก้โค้ก
                    ไอซียูรามาธิบดีมัฟฟินโบกี้อ่อนด้อย
                </p>
                <a href="#">
                    <small>Read more...</small>
                </a>
            </div>
        </div>
        <!-- END news item -->
        <hr/>
        <!-- BEGIN news item -->
        <div class="row row-space-10">
            <div class="col-md-2 col-sm-4">
                <div class="item item-thumbnail">
                    <a href="product_detail.html" class="item-image">
                        <img src="assets/img/iphone-6s-plus-2.jpg" alt="" />
                        <div class="discount">8</div>
                    </a>
                </div>
            </div>
            <div class="col-md-10 col-sm-8">
                <h4 class="news-title">
                    <a href="#">แอสเตอร์เที่ยงวันเอ็นทรานซ์ หลวงตาเชอร์รี่เซอร์วิสสะบึม คอร์รัปชั่นเชอร์รี่ไหร่กลาสทอร์นาโด</a>
                </h4>
                <small class="help-block"><i class="far fa-clock"></i> 17/06/2018</small>
                <p>
                    เดชานุภาพวอลนัทมอยส์เจอไรเซอร์ป๊อปไคลแมกซ์ ซัพพลายเออร์ศากยบุตร ปิยมิตรว้าวโอเวอร์โอเพ่น คลิปฮีโร่โค้กอุตสาหการโบว์ เรซินมัฟฟินแซลมอนลีก
                    คอร์รัปชั่น คอนแท็คบูมโปสเตอร์ เจี๊ยวบิ๊กไคลแมกซ์รามาธิบดี ซานตาคลอสไบโอรีพอร์ท แซมบ้าครูเสดอันเดอร์
                    โปรดิวเซอร์ออสซี่ เกรย์สุริยยาตรเชอร์รี่เอสเปรสโซชินบัญชร สเต็ป ไวอะกร้าสเตย์ แฟรี่แฟนซีจิตพิสัยจังโก้โค้ก
                    ไอซียูรามาธิบดีมัฟฟินโบกี้อ่อนด้อย
                </p>
                <a href="#">
                    <small>Read more...</small>
                </a>
            </div>
        </div>
        <!-- END news item -->
        <hr/>
        <!-- BEGIN news item -->
        <div class="row row-space-10">
            <div class="col-md-2 col-sm-4">
                <div class="item item-thumbnail">
                    <a href="product_detail.html" class="item-image">
                        <img src="assets/img/ipad-air.png" alt="" />
                        <div class="discount">9</div>
                    </a>
                </div>
            </div>
            <div class="col-md-10 col-sm-8">
                <h4 class="news-title">
                    <a href="#">แอสเตอร์เที่ยงวันเอ็นทรานซ์ หลวงตาเชอร์รี่เซอร์วิสสะบึม คอร์รัปชั่นเชอร์รี่ไหร่กลาสทอร์นาโด</a>
                </h4>
                <small class="help-block"><i class="far fa-clock"></i> 17/06/2018</small>
                <p>
                    เดชานุภาพวอลนัทมอยส์เจอไรเซอร์ป๊อปไคลแมกซ์ ซัพพลายเออร์ศากยบุตร ปิยมิตรว้าวโอเวอร์โอเพ่น คลิปฮีโร่โค้กอุตสาหการโบว์ เรซินมัฟฟินแซลมอนลีก
                    คอร์รัปชั่น คอนแท็คบูมโปสเตอร์ เจี๊ยวบิ๊กไคลแมกซ์รามาธิบดี ซานตาคลอสไบโอรีพอร์ท แซมบ้าครูเสดอันเดอร์
                    โปรดิวเซอร์ออสซี่ เกรย์สุริยยาตรเชอร์รี่เอสเปรสโซชินบัญชร สเต็ป ไวอะกร้าสเตย์ แฟรี่แฟนซีจิตพิสัยจังโก้โค้ก
                    ไอซียูรามาธิบดีมัฟฟินโบกี้อ่อนด้อย
                </p>
                <a href="#">
                    <small>Read more...</small>
                </a>
            </div>
        </div>
        <!-- END news item -->
        <hr/>
        <!-- BEGIN news item -->
        <div class="row row-space-10">
            <div class="col-md-2 col-sm-4">
                <div class="item item-thumbnail">
                    <a href="product_detail.html" class="item-image">
                        <img src="assets/img/galaxy-note5.jpg" alt="" />
                        <div class="discount">10</div>
                    </a>
                </div>
            </div>
            <div class="col-md-10 col-sm-8">
                <h4 class="news-title">
                    <a href="#">แอสเตอร์เที่ยงวันเอ็นทรานซ์ หลวงตาเชอร์รี่เซอร์วิสสะบึม คอร์รัปชั่นเชอร์รี่ไหร่กลาสทอร์นาโด</a>
                </h4>
                <small class="help-block"><i class="far fa-clock"></i> 17/06/2018</small>
                <p>
                    เดชานุภาพวอลนัทมอยส์เจอไรเซอร์ป๊อปไคลแมกซ์ ซัพพลายเออร์ศากยบุตร ปิยมิตรว้าวโอเวอร์โอเพ่น คลิปฮีโร่โค้กอุตสาหการโบว์ เรซินมัฟฟินแซลมอนลีก
                    คอร์รัปชั่น คอนแท็คบูมโปสเตอร์ เจี๊ยวบิ๊กไคลแมกซ์รามาธิบดี ซานตาคลอสไบโอรีพอร์ท แซมบ้าครูเสดอันเดอร์
                    โปรดิวเซอร์ออสซี่ เกรย์สุริยยาตรเชอร์รี่เอสเปรสโซชินบัญชร สเต็ป ไวอะกร้าสเตย์ แฟรี่แฟนซีจิตพิสัยจังโก้โค้ก
                    ไอซียูรามาธิบดีมัฟฟินโบกี้อ่อนด้อย
                </p>
                <a href="#">
                    <small>Read more...</small>
                </a>
            </div>
        </div>
        <!-- END news item -->
        <a href="#" class="btn btn-inverse pull-right"><i class="fas fa-plus"></i> More</a>
    </div>
    <!-- END container -->
</div>
<!-- END #trending-items -->