<app-navbar></app-navbar>

<!-- BEGIN #trending-items -->
<div id="trending-items" class="section-container bg-white">
  <!-- BEGIN container -->
  <div class="container">
    <!-- BEGIN news item -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th colspan="2"  class="text-center"><h1>My Article</h1></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="javascript:;">วิธีทำความสะอาดที่ถูกต้อง</a></td>
            <td class="text-right" >
                <a href="javascript:;" class="action">Edit</a> |
                <a href="javascript:;" class="action">Remove</a> |
                <a href="javascript:;" class="action">Change Status</a>
            </td>
          </tr>
          <tr>
              <td><a href="javascript:;">เมื่อรถมีเสียงดังผิดปกติควรทำอย่างไร</a></td>
              <td class="text-right">
                <a href="javascript:;" class="action">Edit</a> |
                <a href="javascript:;" class="action">Remove</a> |
                <a href="javascript:;" class="action">Change Status</a>
              </td>
            </tr>
        </tbody>
      </table>
    <!-- END news item -->
  </div>
  <!-- END container -->
</div>
<!-- END #trending-items -->

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="signin-modal">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header text-center">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              <h2 class="modal-title">คุณต้องการลบบทความนี้ใช่หรือไม่ ?</h2>
              <div class="form-group">
                <span>
                  <button class="btn btn-default">ยกเลิก</button>
                  <button class="btn btn-success">ตกลง</button>
                </span>
              </div>
          </div>
      </div>
  </div>
</div>
