<app-navbar></app-navbar>
<div class="section-container" id="checkout-info">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN checkout -->
        <div class="checkout">
            <!-- BEGIN checkout-header -->
                <div class="checkout-header">
                    <!-- BEGIN row -->
                    <div class="row text-center">
                        <span class="title-form">My Profile</span>
                    </div>
                    <!-- END row -->
                </div>
                <!-- END checkout-header -->
                <!-- BEGIN checkout-body -->
                <div class="checkout-body form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2">Name - Surname</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="name" id="name" disabled [(ngModel)]="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Citizen ID/Passport ID</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="people_id" id="people_id" disabled [(ngModel)]="people_id">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Username</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="username_profile" id="username_profile" disabled [(ngModel)]="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Password</label>
                        <div class="col-md-8">
                            <input type="password" class="form-control" name="password_profile" id="password_profile" disabled [(ngModel)]="password">
                        </div>
                        <label class="col-md-2"><a href="javascript:;">Change password</a></label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Date of Birth</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="birthday" id="birthday" disabled [(ngModel)]="date_of_Birth">
                        </div>
                    </div>
                    <legend>Question</legend>
                    <div class="form-group">
                        <label class="control-label col-md-2">Question 1</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="question1" id="question1" disabled [(ngModel)]="question_1">
                        </div>
                        <label class="control-label col-md-2">Answer 1</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="answer1" id="answer1" disabled  [(ngModel)]="answer_1">
                        </div>
                        <label class="col-md-1"><a href="javascript:;">Edit</a></label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Question 2</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="question2" id="question2" disabled [(ngModel)]="question_2">
                        </div>
                        <label class="control-label col-md-2">Answer 2</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="answer2" id="answer2" disabled  [(ngModel)]="answer_2">
                        </div>
                        <label class="col-md-1"><a href="javascript:;">Edit</a></label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Question 3</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="question3" id="question3" disabled [(ngModel)]="question_3">
                        </div>
                        <label class="control-label col-md-2">Answer 3</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="answer3" id="answer3" disabled  [(ngModel)]="answer_3">
                        </div>
                        <label class="col-md-1"><a href="javascript:;">Edit</a></label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">E-mail</label>
                        <div class="col-md-8">
                            <input type="email" class="form-control" name="email" id="email" disabled [(ngModel)]="email">
                        </div>
                    </div>
                </div>
            <!-- END checkout-body -->
            <!-- BEGIN checkout-footer -->
            <div class="checkout-footer">
            </div>
            <!-- END checkout-footer -->
        </div>
        <!-- END checkout -->
    </div>
    <!-- END container -->
</div>