/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Thai Sans Lite';
    src: url(/assets/fonts/ThaiSansLite.ttf) format("truetype");
    }
html, body {
    font-family: 'Thai Sans Lite', sans-serif;
    font-weight: 550;
    font-size: 18px;
}
.btn {
    font-size: 18px;
    font-weight: 600;
}
.bootstrap-datetimepicker-widget {
    font-size: 16px;
}
.header-nav a {
    font-size: 18px;
}
.header-nav .nav>li>a {
    font-size: 18px;
}