<app-navbar></app-navbar>
<div class="section-container" id="checkout-info">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN checkout -->
        <div class="checkout">
            <form action="http://localhost/api/register/insert.php" method="POST" name="form_shipping" id="form_shipping" class="form-horizontal"  enctype="multipart/form-data">
                <!-- BEGIN checkout-header -->
                <div class="checkout-header">
                    <!-- BEGIN row -->
                    <div class="row text-center">
                      <span class="title-form">Registration</span>
                    </div>
                    <!-- END row -->
                </div>
                <!-- END checkout-header -->
                <!-- BEGIN checkout-body -->
                <div class="checkout-body">
                    <div class="alert alert-danger" role="alert" *ngIf="isError"><strong>Error !</strong> <i class="fa fa-times-circle"></i> {{error}}</div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Name - Surname <span class="text-danger">*</span>
                        </label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="name" id="name" placeholder="ชื่อ นามสกุล" [(ngModel)]="name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Citizen ID/Passport ID <span class="text-danger">*</span>
                        </label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="people_id" id="people_id" placeholder="รหัสบัตรประชาชน / หมายเลขหนังสือเดินทาง" [(ngModel)]="people_id"  required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Copy of Citizen ID/Copy of Passport ID <span class="text-danger">*</span>
                        </label>
                        <div class="col-md-9">
                            <input type="file" class="form-control" name="copy" id="copy" placeholder="สำเนาบัตรประชาชน / สำเนาหนังสือเดินทาง" (change)="handleFileInput($event.target.files)" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Username <span class="text-danger">*</span>
                        </label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="username" id="username" placeholder="ชื่อผู้ใช้" [(ngModel)]="username" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Password <span class="text-danger">*</span>
                        </label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="password" id="password" placeholder="รหัสผ่าน" [(ngModel)]="password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Confirm Password
                        </label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="password_confirmation" id="password_confirmation" placeholder="ยืนยันรหัสผ่าน" [(ngModel)]="password_confirmation">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Date of Birth <span class="text-danger">*</span>
                        </label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="birthday" id="birthday" placeholder="วัน/เดือน/ปี" [(ngModel)]="birthday" required>
                        </div>
                    </div>
                    <legend>Question</legend>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Question 1 <span class="text-danger">*</span>
                        </label>
                        <div class="col-md-4">
                            <select name="question1" id="question1" class="form-control" [(ngModel)]="question1">
                                <option *ngFor="let question of questions" [value]="question.value">{{question.label}}</option>
                            </select>
                        </div>
                        <label class="control-label col-md-2">
                            Answer 1 <span class="text-danger">*</span>
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="answer1" id="answer1" [(ngModel)]="answer1" placeholder="คำตอบ 1" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Question 2 <span class="text-danger">*</span>
                        </label>
                        <div class="col-md-4">
                            <select name="question2" id="question2" class="form-control" [(ngModel)]="question2">
                                <option *ngFor="let question of questions" [value]="question.value">{{question.label}}</option>
                            </select>
                        </div>
                        <label class="control-label col-md-2">
                            Answer 2 <span class="text-danger">*</span>
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="answer2" id="answer2" [(ngModel)]="answer2" placeholder="คำตอบ 2" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Question 3 <span class="text-danger">*</span>
                        </label>
                        <div class="col-md-4">
                            <select name="question3" id="question3" class="form-control" [(ngModel)]="question3">
                                <option *ngFor="let question of questions" [value]="question.value">{{question.label}}</option>
                            </select>
                        </div>
                        <label class="control-label col-md-2">
                            Answer 3 <span class="text-danger">*</span>
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="answer3" id="answer3" [(ngModel)]="answer3" placeholder="คำตอบ 3" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        E-mail <span class="text-danger">*</span>
                    </label>
                    <div class="col-md-9">
                        <input type="email" class="form-control" name="email" id="email" placeholder="อีเมล" [(ngModel)]="email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                    </label>
                    <div class="col-md-9">
                        <input type="checkbox" name="agree" id="agree" [(ngModel)]="agree" required><label for="agree">&nbsp;I Agree</label>
                    </div>
                </div>
                <!-- END checkout-body -->
                <!-- BEGIN checkout-footer -->
                <div class="checkout-footer">
                    <button type="button" (click)="submit()" name="submit" id="register" class="btn btn-inverse btn-lg p-l-30 p-r-30 m-l-10">Register</button>
                </div>
                <!-- END checkout-footer -->
            </form>
        </div>
        <!-- END checkout -->
    </div>
    <!-- END container -->
</div>